# Ignore everything
**

# Allow files and directories
!/apps/**
!/libs/**
!/dist/**
!/node_modules/**
!/scripts/**
!nest-cli.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!.npmrc
!yarn.lock

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
